body{
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tv {
    background-color: white;
    height: 526px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}